*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background: linear-gradient(to right bottom, #08AEEA, #2AF598); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
    font-family: sans-serif;
    line-height: 1.4;
    display: flex;
}
.container{
    width: 85%;
    max-width: 550px;
    margin: 80px auto;
    background-color: white;
    padding: 30px 60px 50px 50px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.651) 0px 30px 90px;
}
.regis-main-form{
    display: grid;
    row-gap: 20px;
}
.regis-main-form label{
    font-family: Tahoma, sans-serif;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.regis-main-form input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px ridge rgba(16, 224, 196, 0.795);
    font-size: 15px;
    border-radius: 5px;
}
.regis-main-form input:focus{
    box-shadow: rgba(16, 224, 196, 0.795) 0px 4px 12px;
}
.container-form-title{
    text-align: center;
    padding: 25px;
    font-size: 30px;
    font-weight: 600;
}
.btn{
    width: 50%;
    margin: auto;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background: linear-gradient(to right bottom, #08aeeade, #2af59ade); 
}
.btn:hover{
    box-shadow: #08AEEA 0px 4px 12px, #2AF598 0px 4px 12px;
}
.cs-btn{
    text-align: center;
    text-decoration: none;
    font-size: larger;
    color: blue;
}
.cs-btn:hover{
    text-decoration: underline;
    opacity: 0.9;
}